
.all{
  align-items: center;
  display: inline-block;
  padding-bottom: 50px;

}
h3{
text-align: center;
  color: #444649;
  font-weight: bold;
font-size: 30px;
padding-top:20px;
}

.skill {
  width: 90px;
  max-height: 100%;
  display: flex;
  align-items: center;
  margin: 5px;
  position: relative;
  float: left;
}
.skilltext {
  visibility: hidden;
  background-color: #ffffff;
  color: #663399;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.5s;
}

.skill:hover .skilltext {
  visibility: visible;
  opacity: 1;
}
.logo {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

